@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  background: url('background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  border-bottom: #333 2px solid;
}

.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(71, 75, 77, 0.664), transparent);
  transition: left .6s ease;
}

.header:hover:before{
  left: 100%;
}

.logo{
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  cursor: default;
}

.navbar a{
  margin-left:30px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: color .3s ease;
}

.navbar a:hover{
  color: #f70303;
}

#menu-icon{
  display: none;
  font-size: 28px;
  color: #333;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .header{
    padding: 1.25rem 4%;
  }
}